In [64]:
# This notebook will take the housing data scraped earlier and clean/format it for further investigation.
import pandas as pd
import numpy as np
import csv

pd.options.display.max_columns = None

In [65]:
priceRange = [
    [1, 250000], [250001, 300000], [300001, 350000], [350001, 400000],
    [400001, 450000], [450001, 500000], [500001, 750000], [750001, 1000000],
    [1000001, 2000000], [2000001, 5000000], [5000001, 50000000]
    ]

In [66]:
for i, price in enumerate(priceRange):
    if i == 0:
        df_forSale = pd.read_csv(f'Raw_Housing_Data/housingData_{price[0]}_{price[1]}.csv',
                                 index_col=0)
        df_recentlySold = pd.read_csv(f'Raw_Housing_Data/housingData_recentlySold_{price[0]}_{price[1]}.csv',
                                      index_col=0)
    else:
        df_forSale = pd.concat([df_forSale, pd.read_csv(f'Raw_Housing_Data/housingData_{price[0]}_{price[1]}.csv',
                                                        index_col=0)], axis=0, ignore_index=True)
        df_recentlySold = pd.concat([df_recentlySold, pd.read_csv(f'Raw_Housing_Data/housingData_recentlySold_{price[0]}_{price[1]}.csv',
                                                                  index_col=0)], axis=0, ignore_index=True)

In [67]:
columnNames_forSale = list(map(lambda x: x.split(', '), df_forSale.columns))
columnNames_recentlySold = list(map(lambda x: x.split(','), df_recentlySold))

with open('Raw_Housing_Data/dataframeColumnNames_forSale.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(columnNames_forSale)

with open('Raw_Housing_Data/dataframeColumnNames_recentlySold.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(columnNames_recentlySold)

In [68]:
# Manually select column names I want to keep in my downsized data frame
columnNames_forSale = ['price','bathrooms','bedrooms','daysOnZillow','homeStatus','homeType','latitude','livingArea',
               'longitude','lotAreaUnit','lotAreaValue','streetAddress','zipcode','zpid','favoriteCount',
               'hdpUrl','livingAreaUnits','livingAreaValue','lotAreaUnits','lotSize','monthlyHoaFee',
               'pageViewCount','sellingSoon','solarPotential','timeOnZillow.1','yearBuilt','listingSubType.isForeclosure',
               'resoFacts.associationFee','resoFacts.isSeniorCommunity', 'resoFacts.propertySubType']

columnNames_recentlySold = ['dateSoldString','bathrooms','bedrooms','daysOnZillow','homeStatus','homeType','latitude','livingArea',
               'longitude','lotAreaUnit','lotAreaValue','price','streetAddress','zipcode','zpid','favoriteCount',
               'hdpUrl','livingAreaUnits','livingAreaValue','lotAreaUnits','lotSize','monthlyHoaFee',
               'pageViewCount','sellingSoon','solarPotential','timeOnZillow.1','yearBuilt',
               'listingSubType.isForeclosure','resoFacts.associationFee','resoFacts.isSeniorCommunity', 'resoFacts.propertySubType']

df_forSale_trunc = df_forSale.loc[:,columnNames_forSale]
df_recentlySold_trunc = df_recentlySold.loc[:,columnNames_recentlySold]
del df_forSale, df_recentlySold

In [69]:
df_forSale_trunc.describe(include='all')

,price,bathrooms,bedrooms,daysOnZillow,homeStatus,homeType,latitude,livingArea,longitude,lotAreaUnit,lotAreaValue,streetAddress,zipcode,zpid,favoriteCount,hdpUrl,livingAreaUnits,livingAreaValue,lotAreaUnits,lotSize,monthlyHoaFee,pageViewCount,sellingSoon,solarPotential,timeOnZillow.1,yearBuilt,listingSubType.isForeclosure,resoFacts.associationFee,resoFacts.isSeniorCommunity,resoFacts.propertySubType
count,2.722000e+03,2712.000000,2722.000000,2722.000000,2722,2722,2718.000000,2703.000000,2718.000000,2404,2404.000000,2722,2722.000000,2.722000e+03,2721.000000,2721,2702,2702.000000,2721,2.404000e+03,854.000000,2721.000000,2721,0.0,2721,2596.000000,2721,861,79,2720
unique,NaN,NaN,NaN,NaN,1,1,NaN,NaN,NaN,2,NaN,2715,NaN,NaN,NaN,2721,1,NaN,3,NaN,NaN,NaN,101,NaN,290,NaN,2,391,1,7
top,NaN,NaN,NaN,NaN,FOR_SALE,SINGLE_FAMILY,NaN,NaN,NaN,sqft,NaN,(undisclosed Address),NaN,NaN,NaN,/homedetails/5650-Stamford-St-Mims-FL-32754/63...,Square Feet,NaN,Square Feet,NaN,NaN,NaN,[],NaN,3 days,NaN,False,$196 quarterly,True,['Single Family Residence']
freq,NaN,NaN,NaN,NaN,2722,2722,NaN,NaN,NaN,1630,NaN,3,NaN,NaN,NaN,1,2702,NaN,1630,NaN,NaN,NaN,117,NaN,70,NaN,2706,36,79,2689
mean,5.551583e+05,2.466814,3.508450,64.091844,NaN,NaN,28.165626,2036.279319,-80.687425,NaN,5668.094834,NaN,32910.202057,4.510732e+08,41.000735,NaN,NaN,2036.182828,NaN,7.437851e+05,116.214286,742.595737,NaN,NaN,NaN,1999.007319,NaN,NaN,NaN,NaN
std,5.142652e+05,0.886601,0.826852,84.959266,NaN,NaN,0.222278,797.298685,0.081130,NaN,4246.748338,NaN,51.657648,7.586250e+08,52.563659,NaN,NaN,797.430479,NaN,1.558682e+07,135.996111,859.395785,NaN,NaN,NaN,24.139278,NaN,NaN,NaN,NaN
min,7.500000e+04,1.000000,0.000000,-1.000000,NaN,NaN,27.833658,0.000000,-80.930824,NaN,0.000000,NaN,32754.000000,4.336783e+07,0.000000,NaN,NaN,0.000000,NaN,0.000000e+00,2.000000,1.000000,NaN,NaN,NaN,1884.000000,NaN,NaN,NaN,NaN
25%,3.399000e+05,2.000000,3.000000,14.000000,NaN,NaN,27.983548,1577.000000,-80.730778,NaN,0.787500,NaN,32907.000000,4.347136e+07,9.000000,NaN,NaN,1576.500000,NaN,7.840000e+03,35.000000,151.000000,NaN,NaN,NaN,1982.000000,NaN,NaN,NaN,NaN
50%,3.999000e+05,2.000000,3.000000,39.000000,NaN,NaN,28.111504,1889.000000,-80.680008,NaN,7405.200000,NaN,32909.000000,8.075743e+07,25.000000,NaN,NaN,1888.500000,NaN,1.001800e+04,65.000000,507.000000,NaN,NaN,NaN,2004.000000,NaN,NaN,NaN,NaN
75%,5.899000e+05,3.000000,4.000000,90.000000,NaN,NaN,28.334632,2317.000000,-80.639565,NaN,10018.800000,NaN,32940.000000,3.378461e+08,53.000000,NaN,NaN,2317.500000,NaN,1.176100e+04,139.750000,1017.000000,NaN,NaN,NaN,2023.000000,NaN,NaN,NaN,NaN
max,6.250000e+06,10.000000,9.000000,1248.000000,NaN,NaN,28.772339,9674.000000,-80.465546,NaN,10454.400000,NaN,33909.000000,2.139862e+09,745.000000,NaN,NaN,9674.000000,NaN,4.553762e+08,1403.000000,12652.000000,NaN,NaN,NaN,2028.000000,NaN,NaN,NaN,NaN

In [70]:
for column_ in columnNames_forSale:
    nullValueCount = df_forSale_trunc[column_].isnull().sum()
    print(f'Number of NaN values in {column_}: {nullValueCount}')

Number of NaN values in price: 0
Number of NaN values in bathrooms: 10
Number of NaN values in bedrooms: 0
Number of NaN values in daysOnZillow: 0
Number of NaN values in homeStatus: 0
Number of NaN values in homeType: 0
Number of NaN values in latitude: 4
Number of NaN values in livingArea: 19
Number of NaN values in longitude: 4
Number of NaN values in lotAreaUnit: 318
Number of NaN values in lotAreaValue: 318
Number of NaN values in streetAddress: 0
Number of NaN values in zipcode: 0
Number of NaN values in zpid: 0
Number of NaN values in favoriteCount: 1
Number of NaN values in hdpUrl: 1
Number of NaN values in livingAreaUnits: 20
Number of NaN values in livingAreaValue: 20
Number of NaN values in lotAreaUnits: 1
Number of NaN values in lotSize: 318
Number of NaN values in monthlyHoaFee: 1868
Number of NaN values in pageViewCount: 1
Number of NaN values in sellingSoon: 1
Number of NaN values in solarPotential: 2722
Number of NaN values in timeOnZillow.1: 1
Number of NaN values in yearBuilt: 126
Number of NaN values in listingSubType.isForeclosure: 1
Number of NaN values in resoFacts.associationFee: 1861
Number of NaN values in resoFacts.isSeniorCommunity: 2643
Number of NaN values in resoFacts.propertySubType: 2

In [ ]:
'''
To-Do:

Remove NaN values from both _trunc dataframes
Remove RV Community from resoFacts.propertySubType for both _trunc dataframes
Remove(?) any listing that doesn't have a built date
Fix lot and living space units
Set HOA fees from NaN to 0
'''